* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    word-wrap: break-word;
}

body {
    background-color: #323031;
    min-width: 700px;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: #EA5431;
}

header {
    margin-left: 3%;
    min-width: 700px;
    width: 97%;
    background-color: lightgray;
}

main {
    margin-left: 3%;
    width: 97%;
}

.topo {
    text-align: center;
    font-family: 'Open Sans';
    padding-top: 27.5%;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    color: gray;
    font-size: 30pt;
    background-image: url(https://lucianoratamero.github.io/img/cover-git-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position-x: center;
}

.topo2 {
    text-align: center;
    font-family: 'Open Sans';
    padding: 25px 0px 25px 0px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    color: gray;
    font-size: 30pt;
}

.s-git {
    font-family: 'Times New Roman', Times, serif;
    color: #EA5431;
}

.s-github {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.topo h2 {
    padding: 15px;
}

.corpo-texto {
    padding: 30px;
    font-family: 'Open Sans';
    font-size: 16pt;
    line-height: 25pt;
}

.titulo {
    line-height: 50pt;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.green {
    color: green;
}

.blue {
    color: lightskyblue;
    font-family: monospace;
}

.code {
    color: black;
    font-family: monospace;
    background-color: lightgrey;
    font-size: 14pt;
    border-radius: 5px;
    padding: 2px;
}

.fake {
    text-decoration: underline;
}

.fake:hover {
    color: #EA5431;
    cursor: pointer;
}

.item-lista {
    margin-left: 50px;
}

.referencias {
    font-size: 11pt;
}

.next-pag {
    font-style: italic;
    margin-right: 20px;
    text-align: end;
}

footer {
    margin-left: 3%;
    width: 97%;
    padding: 25px 0px 25px 0px;
    background-color: black;
    text-align: center;
}

.develop {
    text-align: right;
    font-size: 14pt;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
}

.info {
    padding: 0px 25px 25px 25px;
}

.download {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding: 20px;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: #EA5431;
  color: white;
  border: solid black;
  border-radius: 10px;
  display: inline-block;
  height: 40px;
  width: 100px;
}

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: lightgray;
    --text-secondary: white;
    --bg-primary: #252525;
    --bg-secondary: black;
    --transition-speed: 600ms;
  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: 600ms ease;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 25px;
    min-width: 25px;
    margin: 0 10px;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 3%;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 300px;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 250px;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }