* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-family: "Open Sans";
  word-wrap: break-word;
}

body {
  background-color: #323031;
  min-width: 1000px;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: #ea5431;
}

header {
  margin-left: 20%;
  min-width: 1000px;
  width: 80%;
  background-color: lightgray;
}

main {
  margin-left: 20%;
  width: 80%;
}

.topo {
  top: 0;
  text-align: center;
  font-family: "Open Sans";
  padding-top: 27.5%;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  color: gray;
  font-size: 30pt;
  background-image: url(https://lucianoratamero.github.io/img/cover-git-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position-x: center;
}

.topo2 {
  text-align: center;
  font-family: "Open Sans";
  padding: 25px 0px 25px 0px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  color: gray;
  font-size: 30pt;
}

.s-git {
  font-family: "Times New Roman", Times, serif;
  color: #ea5431;
}

.s-github {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.topo h2 {
  padding: 15px;
}

.nav-local {
  font-family: monospace;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding: 20px;
  text-align: center;
}

.corpo-texto {
  margin-left: 20%;
  padding: 30px;
  font-family: "Open Sans";
  font-size: 16pt;
  line-height: 25pt;
}

.titulo {
  line-height: 50pt;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.green {
  color: green;
}

.blue {
  color: lightskyblue;
  font-family: monospace;
}

.code {
  color: black;
  font-family: monospace;
  background-color: lightgrey;
  font-size: 14pt;
  border-radius: 5px;
  padding: 2px;
}

.fake {
  text-decoration: underline;
}

.fake:hover {
  color: #ea5431;
  cursor: pointer;
}

.item-lista {
  margin-left: 50px;
}

.referencias {
  font-size: 11pt;
}

.next-pag {
  font-style: italic;
  margin-right: 20px;
  text-align: end;
}

footer {
  margin-left: 20%;
  
  min-width: 1000px;
  width: 80%;
  padding: 25px 0px 25px 0px;
  background-color: black;
  text-align: center;
}

.develop {
  text-align: right;
  font-size: 14pt;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
}

.info {
  padding: 0px 25px 25px 25px;
}

.download {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding: 20px;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: #ea5431;
  color: white;
  border: solid black;
  border-radius: 10px;
  display: inline-block;
  height: 40px;
  width: 100px;
}

.navbar {
  min-width: 150px;
  top: 1;
  height: 100%;
  position: fixed;
  background-color: #252525;
  width: 20%;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-top {
  font-weight: bold;
  font-size: 18pt;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: white;
  background: black;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: lightgrey;
  text-decoration: none;
}

.nav-link-select {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0rem 1.5rem 0rem;
  color: lightgrey;
  text-decoration: none;
}

.subnav {
  margin-left: 7%;
}

.subnav li {
  padding: 0px 0px 10px 0px;
  line-height: 17px;
}

.subnav li a {
  text-decoration: none;
  font-size: 11pt;
}

.link-select {
  color: lightgrey;
  text-decoration: none;
  margin-left: 3%;
}

.link-select:hover {
  color: white;
}

.nav-link-select, .nav-link:hover {
  background: black;
  color: white;
}

.link-text {
  margin-left: 3%;
}